@media (max-width: 1365px) {
  .open-width{
    width: 935;
  }
  .close-width{
    width: 1285px;
  }
  .open-template-width{
    width: 65%;
  }
  .close-template-width{
    width: 100%; 
  }
  .open-button-width{
    width: 0%;
  }
}