.shape-fill{
    fill: linear-gradient(to right, red, blue);
}

@keyframes move-dashed-line {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  .moving-dashed-line {
    position: relative;
    width: 100%;
    height: 2px; /* Height of the line */
    background: linear-gradient(to right, #000 50%, transparent 50%) repeat;
    background-size: 10px 100%; /* Dash size */
    animation: move-dashed-line 2s linear infinite; /* Adjust speed as needed */
  }
  

