.thing{
     /* background: linear-gradient(to right, #51E2C2 , #4BCCEF ); */
    color: aliceblue;
    /* height: 950px; */
    padding-top: 130px;
    position: relative;
    width: 100%;
  }
  
  .thing::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 235px;
    top: -50px;
    left: 0;
     background: linear-gradient(to right, #51E2C2, #4BCCEF);
    transform: skewY(7deg);
    /* z-index: 1; */
  }
  .thing::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 235px;
    top: -50px;
    right: 0;
     background: linear-gradient(to right, #51E2C2, #4BCCEF);
    transform: skewY(-7deg);
    /* z-index: 1; */
  }